html {
    scroll-behavior: smooth;
}

body { 
	max-width: 1440px; 
	margin: 0 auto !important; 
	float: none !important; 
}

.footer {
    margin-top: 100px;
}

/*
* Links
*/

a:active {
	opacity: 0.7;
}

a:hover {
	color: white;
    background-color: rgba(0, 0, 255, 1);
}

article a {
    color: black;

}

article a:hover {
    color: black;

}

p a {
    color: black;
}

/*
* Home page header
*/

.intro-body {
    display: flex;
    margin-bottom: 40px;
}

.intro-column {
    width: 50vw;
    padding: 40px;
}

/*
* Text
*/

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
}

h1 a {
	color: rgba(0, 0, 0, 0.85);
    text-decoration: underline;
}

h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6em;  
}

h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;    
}

p {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5em;
}

.body-justified {
    text-align: justify;
}

small {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1em;
}

small a {
    text-decoration: underline;
}

/*
* Home page work grid
*/

.work-title {
    padding-top: 40px;
    padding-left: 40px;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.work-grid img {
    width: 100% !important;
    height: calc(100% + 2px) !important;
    object-fit: cover;
}

/*
* Content cards
*/

.content-card {
    margin-bottom: 40px;
}

.img-zoom {
    transition: all .2s; /* Animation */
    height: 100%;
    max-height: 400px;
    max-width: 600px;
    border-radius: 5px;
}

.img-zoom img {
    border-radius: 5px;
}

.content-card:hover .underline-animation::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content-card:hover .img-zoom {
    transform: scale(1.02);
    box-shadow:  15px 15px 27px #e0e0e0,
             -15px -15px 27px #ffffff;
}

.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/*
* About
*/

.about-row {
    display: flex;
    height: 100%;
}

.about-column {
    float: left;
    width: 50vw;
    padding: 40px;
}

.about-row:after {
    content: '';
    display: table;
    clear: both;
}

/*
* Case Studies
*/

.case-row {
    display: flex;
    height: 100%;
}

.case-column {
    float: left;
    width: 50vw;
    padding: 40px;
}

.case-study-page {
    width: 80%;
    margin: 0 auto;
}

.case-content {
    text-align: justify;
    padding-bottom: 60px;
    padding-top: 60px;
    max-width: 850px;
    margin: 0 auto;
}

.case-media {
	padding-top: 40px;
    padding-bottom: 40px;
	position: relative;
}

.case-media img{
	display: block;
	max-width:100%;
	max-height:100%;
    margin: 0 auto;
}

.case-row:after {
    content: '';
    display: table;
    clear: both;
}

.case-study-header-image {
    padding: 40px;
}

.case-study-header-image img {
    float: none;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.text-box {
    padding: 2em 2.5em;
    border: 0;
    border-radius: 10px;
    box-shadow:  15px 15px 37px #e0e0e0,
             -15px -15px 37px #ffffff;
}

/*
* Image Grid
*/

.case-image-grid-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-between;
}

.case-image-grid-column {
    flex: 25%;
    max-width: 100%;
    padding: 0 4px
}

.case-image-grid-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; 
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .case-image-grid-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .case-image-grid-column {
      flex: 100%;
      max-width: 100%;
    }
  }

/*
* Scroll Bar
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
* List styles
*/

ul {
    list-style-type: circle;
}

li {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5em;
    margin: 5px;
}

/*
* Formspree
*/

.formspree {
    text-align: center;
}

.formspree form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formspree input,
.formspree textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 400px;
}

.formspree textarea {
    height: 150px;
}

.formspree button[type="submit"] {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.formspree button[type="submit"]:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

/*
* Alert Message
*/

 /* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    z-index: 99;
    display: block;
}

.alert small {
    color: white;
}

.alert small a {
    color: white;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 

/*
* Sroll to top button
*/

#scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 30px;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    border: 0;
    box-shadow:  7px 7px 29px #dedede,
                -7px -7px 29px #ffffff;
}

#scroll-to-top-btn.show {
    display: block;
}

  